---

---

<section class="experiencia seccion-clara">
    <div class="container text-center">
        <div class="row">
            <!-- Desarrollo Web -->
            <div class="columna col-12 col-md-4">
                <i class="bi bi-laptop"></i>
                <p class="experiencia-titulo">Desarrolo Web</p>
                <p>
                    Soy un desarrollador web con experiencia en tecnologías como
                    HTML, CSS, JavaScript y React. Mi enfoque es crear
                    soluciones web eficientes, atractivas y fáciles de usar.
                    Utilizo las últimas herramientas y tecnologías para
                    garantizar que mi trabajo sea de alta calidad y cumpla con
                    las expectativas del cliente. Estoy ansioso por trabajar
                    contigo en tu próximo proyecto web emocionante. ¡Contáctame!
                </p>
                <div class="badges-contenedor">
                    <span class="badge bg-primary">HTML</span>
                    <span class="badge bg-primary">CSS</span>
                    <span class="badge bg-primary">JavaScript</span>
                    <span class="badge bg-primary">React</span>
                </div>
            </div>
            <!-- Articulos -->
            <div class="columna col-12 col-md-4">
                <i class="bi bi-laptop"></i>
                <p class="experiencia-titulo">Artículos</p>
                <p>
                    Soy apasionado de la programación y tengo interés en crear
                    artículos relacionados con el desarrollo web, la
                    programación orientada a objetos y el análisis de datos. Mi
                    enfoque es proporcionar información clara y concisa para
                    cualquier nivel de habilidad. Estoy emocionado por compartir
                    mis conocimientos y experiencias con otros apasionados de la
                    programación y recibir sugerencias para futuros temas.
                </p>
                <div class="badges-contenedor">
                    <span class="badge bg-primary">Escribir</span>
                    <span class="badge bg-primary">Editar</span>
                    <span class="badge bg-primary">Blogs</span>
                </div>
            </div>
            <!-- Estudiante -->
            <div class="columna col-12 col-md-4">
                <i class="bi bi-laptop"></i>
                <p class="experiencia-titulo">Estudiante</p>
                <p>
                    Soy un estudiante apasionado por la programación con
                    experiencia en Python, Java y C#. Me he enfocado en el
                    desarrollo web, estudiando herramientas como HTML, CSS,
                    JavaScript y React. Me encanta crear aplicaciones web
                    atractivas y fáciles de usar. Estoy emocionado por seguir
                    aprendiendo y mejorando mis habilidades en el mundo de la
                    programación.
                </p>
                <div class="badges-contenedor">
                    <span class="badge bg-primary">Sistemas</span>
                    <span class="badge bg-primary">Desarrollo Web</span>
                    <span class="badge bg-primary">Python</span>
                </div>
            </div>
        </div>
    </div>
</section>
