---
import "../styles/Graficos.css";
---
<h2 class="seccion-titulo texto-negro text-center">Habilidades</h2>
<div class="container contenedor-graficos">
    <div class="row columna">
        <div class="porcentajes col-lg-6 col-md-6 col-sm-12" style="--porcentaje: 75; --color: rgb(13, 110, 253)">
            <svg width="150" height="150" class="rueda">
                <circle r="65" cx="50%" cy="50%" pathlength="100"></circle>
                <circle r="65" cx="50%" cy="50%" pathlength="100"></circle>
            </svg>
            <span>75%</span>
            <h2 class="text-center">Front-end</h2>
        </div>
        <div class="porcentajes col-lg-6 col-md-6 col-sm-12" style="--porcentaje: 50; --color: forestgreen">
            <svg width="150" height="150" class="rueda">
                <circle r="65" cx="50%" cy="50%" pathlength="100"></circle>
                <circle r="65" cx="50%" cy="50%" pathlength="100"></circle>
            </svg>
            <span>50%</span>
            <h2 class="text-center">Back-end</h2>
        </div>
    </div>
    
</div>
