---
import '../styles/Body.css'
---

<section id="sobre-mi" class="sobre-mi seccion-oscura">
    <div class="contenedor">
        <h2 class="seccion-titulo">Conoce a Jean Lozano</h2>
        <p class="seccion-texto">
            ¡Hola! Mi nombre es Jean Carlos Lozano Curi y soy un estudiante de
            Desarrollo de Sistemas enfocado en la programación Web y he
            utilizado tecnologías como HTML, CSS, JavaScript, React, Python,
            Django, Java, Spring, C#, .NET, SQL SERVER y MySQL. Me apasiona la
            tecnología y siempre estoy aprendiendo nuevas herramientas y
            habilidades. Mi enfoque es en crear soluciones tecnológicas
            innovadoras y eficientes que ofrezcan una excelente experiencia de
            usuario. Estoy siempre buscando nuevas oportunidades para mejorar
            mis habilidades y conocimientos. ¡Gracias por visitar mi portafolio!
        </p>
    </div>
</section>
